
/* style the nav bar to appear in a spaced out row at the top of page */
#nav-bar{
    width: 100%; 
    display: flex;
    flex-direction: row;
    padding: 0.5em 0em;
    border-bottom: .015em solid #333333; /* creating a line under the nav bar */
}

.nav-item{
    margin: auto;
}

/* style if it is a nav-item and a link with the a tag */
.nav-item a{
    color: rgba(0, 0, 0, 0.606);
    font-family: Encode Sans, serif;
    text-decoration: none;
    font-weight: 400;
    font-style: normal;
    font-size: 0.85em;
}

/* style the nav item of the currrent page */
.active{
  margin: auto;
}

.active a{
  color: black;
  font-family: Encode Sans, serif;
  text-decoration: underline;
  font-weight: 550;
  font-style: normal;
  font-size: 0.9em;
  }

/* responsive design to opttimize viewing for mobile and desktop */
@media (orientation: portrait){
    #content {
        width: 100%;
        line-height: 1.5em;
    }
    #nav-bar {
        flex-direction: column;
        
    }

    h1{
        padding-top: 10px;
    }

    #img-text-container {
      flex-direction: column;
      width: 100%;
      align-items: center;
    }
    .image {
      width: 80%;  /* Adjust image width for portrait */
      height: auto;
      padding-right: 0;
      margin-bottom: 20px;  /* Adds space between image and text */
    }
  
    #text-container {
      width: 90%;
      padding-right: 0;
    }
  }

/* adjusting the spacing of body to fit the screen in the center */
.content {
    width: 80%;
    margin: auto;
    padding-top: 100px;
  }

/* styling the text and body */
  body {
    background-color: #f5f5f5;
  }

  p {
    line-height: 1.2em;
    padding-bottom:10px;
    font-size: 1.1em;
    font-family: Source Serif 4, serif; 
  }

  h1{
    font-family: Source Serif 4, serif;
    font-size: 3em;
    line-height: 1em;
    text-align: center;
  }

/* styling the image and text on home page to sit side-by-side using a surrounding container div */
  #img-text-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 200px;
  }

  #text-container{
    margin: auto;
  }

  .image{
    margin: auto;
    width: 50%;
    height: 50%;
    padding-right: 50px;
  }


/* having link-image previews sit side-by-side using a surrounding container div */
  #preview-bar {
    display: flex;
    flex-direction: row;
    gap: 40px; 
    justify-content: center;  
    padding-top: 40px;
  }
  
  .link {
    background-color: white;
    color: rgb(4, 4, 4);
    padding: 10px 20px; /* top and bottom padding 10px, left and righht padding 20px*/
    border-radius: 5px;
    display: inline-block;
    font-family: Encode Sans, serif;
    position: relative;
    font-weight: 550;
  }
  
  .preview {
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);/* adding shadow around the previews*/
    padding: 10px;
    margin: auto;
    border-radius: 5px;
    text-align: center; 
  }
  
  .preview img {
    width: 100%;
    max-width: 100%;
    border-radius: 1px;
  }
  







