
/* styling the nav bar to appear in a spaced out row at the top of page */
#nav-bar{
    width: 100%; 
    display: flex;
    flex-direction: row;
    position: sticky; /* keeping the nav bar in view on page when scrolling */
    top: 0;
    background-color: #f5f5f5;
    padding: 0.5em 0em;
    border-bottom: .015em solid #333333; /* creating a line under the nav bar */
}

.nav-item{
    margin: auto;
}

/* styling if it is a nav-item and a link with the a tag */
.nav-item a{
    color: rgba(0, 0, 0, 0.606);
    font-family: Encode Sans, serif;
    text-decoration: none;
    font-weight: 400;
    font-style: normal;
    font-size: 0.85em;
}

/* styling the nav item of the current page */
.active{
  margin: auto;
}

.active a{
  color: black;
  font-family: Encode Sans, serif;
  text-decoration: underline;
  font-weight: 550;
  font-style: normal;
  font-size: 0.9em;
  }

/* styling linked text in the story content*/
  #story-page a:link{
    color: #486c93;
  }

  #accessible {
    font-size: 0.9em;
    font-style: italic;
  }

/* adjusting the spacing of body to fit the screen in the center */
.content {
    width: 70%;
    margin: auto;
  }

/* styling the text and body of home page*/
  body {
    background-color: #f5f5f5;
  }

  #home-page p {
    line-height: 1.2em;
    padding-bottom:10px;
    font-size: 1.1em;
    font-family: Source Serif 4, serif; 
  }

  #home-page h1{
    font-family: Source Serif 4, serif;
    font-size: 3em;
    line-height: 1em;
    text-align: center;
    padding-top: 100px;
  }

/* styling the image and text on home page to sit side-by-side using a surrounding container div */
  #img-text-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 200px;
  }

  #text-container{
    margin: auto;
  }

  .image{
    margin: auto;
    width: 50%;
    height: 50%;
    padding-right: 50px;
  }

/* styling the text and body of the story page*/
  #story-page h1 {
    font-family: Source Serif 4, serif;
    font-size: 3em;
    line-height: 1em;
  }

  #story-page p{
    font-size: 1.3em;
    padding-bottom: 20px;
  }

/* styling the videos*/
.video-container {
  width: 100%;
  margin: 50px auto;
  overflow: hidden;
}

.video-container video {
  width: 100%;
}

/* styling the "See methodology" buttonn using checkbox */

  .dropdown {
    text-align: left;
    padding-top: 15px;
    width:80%;
    margin: auto;
}

/* hiding the checkbox */
input[type="checkbox"] {
    display: none;
}

/* styling the button */
label {
    width: 100%;
    padding: 5px;
    background-color: #486c93;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    font-weight: 500px;
    text-align: center;
    font-family: Encode Sans, serif;
}

/* styling the hidden text */
.dropdown-content {
    max-height: 0px; /* hiding the tex */
    overflow: hidden;
    transition: max-height 0.3s ease; /* creating a smooth animation */
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 0.9em;
    padding-bottom: 10px; 
}

/* showing text when checkbox is checked */
input[type="checkbox"]:checked + label + .dropdown-content {
    max-height: 500px;
    padding: 5px;
}

/* styling the text and body of clips page*/
#clips-page h1 {
  font-family: Source Serif 4, serif;
  font-size: 3em;
  line-height: 1em;
  text-align: center;
  padding-top: 100px;
}


/* having link-image previews sit side-by-side using a surrounding container div */
  #preview-bar {
    display: flex;
    flex-direction: row;
    gap: 40px; 
    justify-content: center;  
    padding-top: 40px;
    padding-bottom: 150px;
  }
  
  .link {
    background-color: white;
    color: rgb(4, 4, 4);
    padding: 10px 20px; /* top and bottom padding 10px, left and righht padding 20px*/
    border-radius: 5px;
    display: inline-block;
    font-family: Encode Sans, serif;
    position: relative;
    font-weight: 550;
  }
  
  .preview {
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);/* adding shadow around the previews*/
    padding: 10px;
    margin: auto;
    border-radius: 5px;
    text-align: center; 
  }
  
  .preview img {
    width: 100%;
    max-width: 100%;
    border-radius: 1px;
  }

  /* responsive design to opttimize viewing for mobile and desktop */
@media (orientation: portrait){
  #content {
      width: 100%;
      line-height: 1.5em;
  }
  #home-page p{
    font-size: 1.5em;
  }
 
  #clips-page p{
    font-size: 1.5em;
  }

  #story-page p{
    font-size: 1.5em;
  }
  
  #nav-bar {
      flex-direction: column;
  }

  .nav-item{
    font-size: 1.3em;
}

  .active{
    font-size: 1.3em
  }

  .dropdown-content {
    font-size: 1.3em
}

  #img-text-container {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  .image {
    width: 70%;  /* Adjust image width for portrait */
    height: auto;
    padding-right: 0;
    margin-bottom: 20px; 
  }
  #text-container {
    width: 90%; /* Adjust width of text box for portrait */
  }

  #preview-bar {
    flex-direction: column;
  }
}
  
